<!-- Footer -->
<div class="footer-1">
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">About Us</h5>
          <p style="color:white">“Use Yoneak ecommerce business application <br>and mobile application to boost <br>your business”</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Other Pages</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Home</a>
            </li>
            <li>
              <a href="#!">Blogs</a>
            </li>
            <li>
              <a href="#!">About us</a>
            </li>
            <li>
              <a href="#!">Pricing</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Contact us</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">+91 9999999999</a>
            </li>
            <li>
              <a href="#!">Yoneak@service.com</a>
            </li>
            <li>
              <a href="#!">XYZ, Outer ring road, 3rd Stage,<br> Banashankri, Bangalore-560078</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
  
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Copyright copyright 2021 Yoneak Ltd
     
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</div>