<div class="course">
    <div class="course1">
        <img src="../../assets/src1.jpg" class="imgc">
                <h5> By Course subject </h5>
                <p> Mechanical Engineering</p>
                <p> Civil Engineering </p>
                <p> Electrical Engineering </p>
            
    </div>
    
    <div class="course1">
        <img src="../../assets/src2.jpg" class="imgc">
            <h5> By study level</h5>
            <p> Undergraduate Engineering </p>
            <p> Postgraduate Engineering </p>
            <p> Doctorate Engineering</p>
    </div>
    
    <div class="course1">
        <img src="../../assets/src3.jpg" class="imgc">
                <h5> By overseas country </h5>
                <p> Engineer courses in united states </p>
                <p> Engineer courses in United kingdom </p>
                <p> Engineering courses in Canada </p>	
    </div>
</div>
<div class="course">
    <div class="course1">
        <img src="../../assets/src2.jpg" class="imgc">
                <h5> By Placements </h5>
                <p> Vital Opportunities</p>
                <p> Multi national Corporations </p>
                <p> 300+ Companies </p>
            
    </div>
    
    <div class="course1">
        <img src="../../assets/src3.jpg" class="imgc">
            <h5> By Universities</h5>
            <p> VT University </p>
            <p> Bangalore University </p>
            <p> Dayananda Sagar University</p>
    </div>
    
    <div class="course1">
        <img src="../../assets/src1.jpg" class="imgc">
                <h5> By Events </h5>
                <p> Competations </p>
                <p> Inter and intra level fests </p>
                <p> Significant Activities </p>	
    </div>
</div>
