<div class="row-5">
   <h3>STAY WITH YONEAK, STAY AHEAD AT YOUR ONLINE BUSINESS</h3>
   <p class="par1-r5">Your brand is unique, which is why your mobile application or website business application should be unique too. With Yoneak you can easily customize</p>
    <p class="par2-r5">your website or mobile application to reflect your business through different themes of your choice. Let’s connect with you the way you want.</p>

    <div class="sub-row-5">
        <div class="row-51">
            <img src="../../assets/row-51.png">
        </div>

        <div class="row-52">
            <img src="../../assets/row-52.png">
        </div>

        <div class="row-53">
            <img src="../../assets/row-53.png">
        </div>

        <div class="row-54">
            <img src="../../assets/row-55.png">
        </div>
    </div>
</div>
