<div class="row3-p">
    <h4>CONNECTING BUYERS AND SELLERS</h4>
</div>
<div class="row3-p1">
    <h4>Yoneak is an online B2B marketplace, connecting buyers with suppliers.</h4>
</div>
<div class="sub-row3">
    <div class="cont-1">
       <p>Receive free quotes from sellers Download <br>seller’s app Complete the Deal</p>
       <button>Sign Up</button>
    </div>
    <div class="cont-1">
       <img src="../../assets/img1-row3.PNG" >
     </div>
     <div class="cont-1">
        <img src="../../assets/img2-row3.PNG" >
     </div>
     <div class="cont-1">
        <p>Install our free Android app to develop your<br> online store and reach out to customers<br> online and expand your business.</p>
        <button>Know More</button>
     </div>
</div>