

<div class="row-5">
    <h3>Pricing</h3>
    <p class="par1-r5">Your brand is unique, which is why your mobile application or website business application should be unique too. With Yoneak you can easily customize</p>
     <p class="par2-r5">your website or mobile application to reflect your business through different themes of your choice. Let’s connect with you the way you want.</p>
 
     <div class="sub-row-5">
         <div class="row-51">
             <img src="../../assets/price.PNG">
         </div>
 </div>
 </div>