<div class="products">
    <h3> FIND CATEGORIES FROM TOP CATEGORIES</h3>
    <div class="mid-pro">
    <div class="sub-pro">
        <div class="sub-pro1">
        <img src="../../assets/row4-1.png" width="140" height="160">
        </div>
    </div>
    <div class="sub-pro1">
        <p>Sports</p>
    </div>
</div>
<div class="mid-pro">
    <div class="sub-pro">
        <div class="sub-pro1">
            <img src="../../assets/row4-2.png" width="140" height="160">
        </div>
    </div>
    <div class="sub-pro1">
        <p>Smart Phone</p>
    </div>
</div>
<div class="mid-pro">
    <div class="sub-pro">
        <div class="sub-pro1">
            <img src="../../assets/row4-3.png" width="140" height="160">
        </div>
    </div>
    <div class="sub-pro1">
        <p>Smart Switch</p>
    </div>
</div>

    <div class="mid-pro">
    <div class="sub-pro">
        <div class="sub-pro1">
            <img src="../../assets/row4-4.png" width="140" height="160">
        </div>
    </div>
    <div class="sub-pro1">
        <p>E-commerce</p>
    </div>
</div>

    <div class="mid-pro">
    <div class="sub-pro">
        <div class="sub-pro1">
            <img src="../../assets/row4-5.png" width="140" height="160">
        </div>
    </div>
    <div class="sub-pro1">
        <p>Clothings</p>
    </div>
</div>

    <div class="mid-pro">
    <div class="sub-pro">
        <div class="sub-pro1">
            <img src="../../assets/row4-6.png" width="140" height="160">
        </div>
    </div>
    <div class="sub-pro1">
        <p>Supplies</p>
    </div>
</div>

    <div class="mid-pro">
    <div class="sub-pro">
        <div class="sub-pro1">
            <img src="../../assets/row4-8.jpg" width="140" height="160">
        </div>
    </div>
    <div class="sub-pro1">
        <p>Groceries</p>
    </div>
</div>
</div>
